footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 36px;
    margin: 50px 0;
}

.social {
    display: flex;
    gap: 48px;

}

.terms {
    display: flex;
    gap: 48px;
}

.copyright {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #6B7280;
}