.hero-section {
    max-width: 100%;
    min-height: 600px;
    background-image: url('../assets/john_wick.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;

}

.hero-movie-container {
    display: flex;
    margin-left: 98px;
    margin-top: 158px;
    width: 25%;
    flex-flow: column;
}

.hero-movie_name {
    color: #fff;
    font-size: 48px;
}

.hero-movie_about {
    color: #fff;
    font-size: 1.5em;
}