

.movie-card {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    margin: 161px 98px ;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.movie-title {
    color: #111827;
    font-size: 18px;
    font-family: 'DM Sans';
}

.movie-image {
    width: 100%;
}